.nav {
    background-color: #928DAB;
    display: flex;
    padding: 7px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.links a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px;
    transition: background 0.3s;
    font-family: 'Lato', sans-serif;
    text-align: left;
}

.links a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(2);
    color: #796EAB; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

