.Ptitle {
    font-size: 40px;
    font-weight: bolder;
    transition: font-size 0.3s;
}

.Ptitle:hover {
    font-weight: bolder;
}

.next-previous {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

.previous, .next {
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 0 0px 5px #9f4bd4;
}

.previous a, .next a {
    text-decoration: none;
    transition: color 0.2s, font-size 0.3s;
}

.next a {
    color: #a2e0a2;
}

.previous a {
    color: #e0a2a2;
}

.next a:hover, .previous a:hover {
    color: #9f4bd4;
}