table {
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #928DAB;
    color: #E6EBE4;
}

a{
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    border: none;
}

.btn-edit {
    background-color: #7d66ba;
    color: white;
}

.btn-edit:hover {
    background-color: #6344bb;
}

.btn-delete {
    background-color: #8e43d9;
    color: white;
}

.btn-delete:hover {
    background-color: #5e24a9c8;
}

.editable-dropdown {
    background-color: #444; 
    color: #FFFFFF; 
    border: 1px solid #555;
    padding: 5px;
    border-radius: 5px;
}

.editable-dropdown option {
    background-color: #333;
    color: #FFFFFF; 
}

.editable {
    background-color: #333; 
    color: #FFFFFF; 
}

/* New CSS */
.swal2-dark-warning-icon .swal2-icon.swal2-warning{
    color: #420e78;
}

.swal2-gray-popup {
    background-color: #333 !important;
    color: white !important;
}

.table-container {
    position: relative;
    width: 50%;
    margin: 20px auto;
    margin-bottom: 100px;
}

#addClassificationForm {
    margin-bottom: 20px;
}

#addClassificationForm input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#addClassificationForm button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#addClassificationForm button:hover {
    background-color: #45a049;
}

#classificationTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#classificationTable th, #classificationTable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.editable {
    background-color: #333;
    color: white;
}

.delete-button {
    padding: 5px 10px;
    background-color: #9955e1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 0 auto; 
}

.delete-button:hover {
    background-color: #420e78;
}

.gray-background {
    background-color: #333; /* Gray background color */
    color: white; /* Ensure text is visible */
    padding: 10px; /* Optional: Add some padding */
    border-radius: 5px; /* Optional: Add rounded corners */
}