*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

body{
    background-color: #1F1C2C;
    color: #928DAB;
} 

.row {
    display: flex;
    justify-content: flex-start; /* Aligns form to the left */
    padding: 20px;
    height: 100vh; /* Ensure the row takes full height to help with vertical centering */
}

.column-form {
    width: 20%; /* Adjust width for the form */
    background-color: #222; /* Dark background for contrast */
    padding: 20px;
    border-radius: 10px;
    color: white; /* White text for readability */
    -webkit-box-shadow: 0px 0px 30px 14px #000000; 
    box-shadow: 0px 0px 30px 14px #000000;
    margin-top: auto;
    margin-bottom: auto; /* This ensures vertical centering inside the column */
    margin-left: 225px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button input {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.submit-button input:hover {
    background-color: #45a049;
}

#date{
    text-align: center;  /* Center the text inside the input */
    padding: 10px;
    font-size: 16px;
    width: 200px;
}