.query, .previous, .next {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Ptitle{
    font-size: 40px;
    font-weight: bolder;
}
.previous{
    float: left;
    margin-left: 30px;
}
.next{
    float: right;
    margin-right: 30px;
}
.previous, .next {
    font-size: 20px;    
    font-weight: bolder;
    position: relative;
    margin-top: 20px;
    text-shadow: 0 0px 5px #9f4bd4;
}
.previous a, .next a {
    text-decoration: none;
    transition: color 0.2s, font-size 0.2s;
}
.next a{
    color: #a2e0a2;
}
.previous a{
    color: #e0a2a2;
}

.next a:hover{
    color: #9f4bd4;
    font-size: 25px;
}
.previous a:hover{
    color: #9f4bd4;
    font-size: 25px;
}

