.nav {
    background-color: #928DAB;
    display: flex;
    padding: 7px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.links a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px;
    transition: background 0.3s;
    font-family: 'Lato', sans-serif;
    text-align: left;
}

.links a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(2);
    color: #796EAB; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.welcome {
    text-align: center;
    padding: 10px;
    background-color: #444;
    color: #FFFFFF; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    animation: lightCircle 5s infinite; 
}

.welcome h1 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

@keyframes lightCircle {
    0% {
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 10px 0 10px 5px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 10px 10px 5px rgba(255, 255, 255, 0.5);
    }
    75% {
        box-shadow: -10px 0 10px 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    }
}