@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.box {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #333;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    width: 350px;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: #ffffff 0px 0px 10px;
    overflow: visible;
    animation: fadeIn 1s ease-in-out;
}

.box:hover {
    background-color: #cac5e6;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}

#query {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box h2 {
    margin: 0 0 5px;
    font-size: 75px;
}

.box:hover h2 {
    color: #1F1C2C;
}

.box p {
    margin: 0;
    font-size: 15px;
}

.box:hover p {
    color: #2c1c2c;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    width: 100%;
    min-height: 100vh;
}

.box-container .row-front1,
.box-container .row-front2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1200px;
}

.box-container .row-front1 .box,
.box-container .row-front2 .box {
    margin: 10px;
    min-width: 350px;
    max-width: 700px;
}

.box-container .row-front2:last-child {
    margin-bottom: 0;
}

#remarks {
    color: #928dab;
}

#no-stock {
    color: #ff7070;
}

#low-stock {
    color: #fffb82;
}

#in-stock {
    color: #a5ff82;
}

.box:hover #remarks, .box:hover #no-stock, .box:hover #low-stock, .box:hover #in-stock {
    font-weight: normal;
    color: #2c1c2c;
}

@media (max-width: 480px) {
    .box {
        width: 80%;
        height: 200px;
        font-size: 14px;
    }

    .box h2 {
        font-size: 50px;
    }

    .box p {
        font-size: 15px;
    }

    .box-container {
        margin-top: 10px;
        margin-bottom: 100px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    html, body {
        height: auto;
        min-height: 100vh;
    }
    
    .box {
        width: 80%;
        height: 200px;
    }

    .box h2 {
        font-size: 65px;
    }

    .box p {
        font-size: 20px;
    }

    .box-container {
        display: block;
        min-height: 100vh;
    }

    .box-container .row-front1 {
        margin-top: 0px;
    }

    .box-container .row-front2  {
        position: relative;
        padding-bottom: 100px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .box {
        width: 25%;
        height: 200px;
    }

    .box h2 {
        font-size: 60px;
    }

    .box p {
        font-size: 14px;
    }

    .box-container .row-front1 {
        margin-top: -200px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .box {
        width: 30%;
        height: 200px;
    }

    .box h2 {
        font-size: 60px;
    }

    .box p {
        font-size: 14px;
    }

    .box-container .row-front1 {
        margin-top: -200px;
    }
}

@media (min-width: 1201px) {
    .box {
        width: 20%;
        height: 300px;
    }

    .box h2 {
        font-size: 75px;
    }

    .box p {
        font-size: 17px;
    }

    .box-container {
        margin-top: 100px;
    }

    .box-container .row-front1 {
        margin-top: -375px;
    }
}

.nav{
    animation: none !important;
}