.filter-container {
    width: 925px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin: 0px auto 0px auto;
}

.filter-container input,
.filter-container select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #756f91;
    color: #ffffff;
}

.filter-container input::placeholder {
    color: #ffffff;
}

.no-records {
    text-align: center;
    font-size: 18px;
    color: red;
    margin-top: 20px;
}